@import "tailwindcss";

@theme {
  --font-serif: "Noto Serif", serif;
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --color-primary: #4B2C20; /* Dark brown */
  --color-secondary: #F5E6D3; /* Light brown */
  --color-tertiary: #203225; /* Light green */
  --color-cafe-bg: #FDF9F5;
  --color-neutral: #FAF7F2; /* Dark gray */ 
}

@layer base {
  body {
    @apply font-sans;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}