---
import BranchCard from "../components/BranchCard.astro";
import ContactForm from "../components/ContactForm.astro";
import Layout from "../layouts/Layout.astro";

import { XMLParser } from "fast-xml-parser";

const res = await fetch(new URL("/branches.xml", Astro.url));
const xmlData = await res.text();

const parser = new XMLParser({
  ignoreAttributes: false,
  attributeNamePrefix: "@_",
});
const JSONObj = parser.parse(xmlData);

const branches: Branch[] = JSONObj?.branches?.branch || [];

branches.forEach((branch, i) => {
  if (i % 2) branch.variant = "dark";
});
console.log(branches);

interface Branch {
  address: string;
  phoneNumber: string | number;
  schedule: [];
  variant?: string;
}
---

<Layout>
  <main>
    <section class="bg-neutral px-4 md:px-6 py-16 md:py-32">
      <div class="md:max-w-5xl mx-auto">
        <article class="text-center flex flex-col gap-4 md:gap-8 px-2 md:px-4">
          <h1
            class="text-tertiary text-5xl md:text-7xl text-balance font-bold tracking-wide leading-tight"
          >
            Join Us at the Hearth
          </h1>
          <p
            class="text-lg lg:text-xl text-balance py-2 tracking-wide leading-relaxed"
          >
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore
            dolores accusamus totam temporibus? Nesciunt, atque!
          </p>
          <p
            class="text-lg lg:text-xl text-balance py-2 tracking-wide leading-relaxed"
          >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
            maiores dolore consequatur temporibus suscipit est ea eveniet
            distinctio expedita harum.
          </p>
        </article>
      </div>
    </section>
    <section
      class="grid px-4 md:px-6 py-16 md:max-w-5xl lg:max-w-7xl mx-auto gap-6"
    >
      <h2
        class="text-3xl font-bold border-b-2 border-b-neutral mb-3 md:mb-4 text-tertiary tracking-wider"
      >
        Our Branches
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {branches.map((branch) => <BranchCard {...branch} />)}
        {
          branches.length === 0 && (
            <p class="col-span-full">
              There are no branches available at the moment, apologies!
            </p>
          )
        }
      </div>
    </section>
    <section
      class="grid px-4 md:px-6 py-16 md:max-w-5xl lg:max-w-7xl mx-auto gap-6"
    >
      <article class="py-4 md:py-6 rounded-lg">
        <header class="flex flex-col gap-4 md:gap-4">
          <h2
            class="text-3xl font-bold border-b-2 border-b-neutral mb-3 md:mb-4 text-tertiary tracking-wider"
          >
            Get in Touch
          </h2>
          <p class="text-lg lg:text-xl py-2 tracking-wide leading-relaxed">
            For any inquiries, please fill out the form below:
          </p>
        </header>
      </article>
      <ContactForm />
    </section>
    <section
      class="grid px-4 md:px-6 py-16 md:max-w-5xl lg:max-w-7xl mx-auto gap-6"
    >
      <h2
        class="text-3xl font-bold border-b-2 border-b-neutral mb-3 md:mb-4 text-tertiary tracking-wider"
      >
        Our Location
      </h2>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.144366398072!2d151.207719!3d-33.88593559999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae21aea44cd5%3A0xcf2d54666d7cca73!2s76%20Devonshire%20St%2C%20Surry%20Hills%20NSW%202010!5e0!3m2!1sen!2sau!4v1777261209615!5m2!1sen!2sau"
        height="300"
        allowfullscreen="false"
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="w-full mt-4 rounded-lg"></iframe>
    </section>
  </main>
</Layout>
