---
import BranchCard from "../components/BranchCard.astro";
import ContactForm from "../components/ContactForm.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <section class="bg-neutral px-6 pt-12 pb-16">
      <article class="text-center flex flex-col gap-4">
        <h1
          class="text-tertiary text-4xl text-balance font-bold tracking-wide leading-tight"
        >
          Join Us at the Hearth
        </h1>
        <p class="text-balance py-4 tracking-wide leading-relaxed">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore
          dolores accusamus totam temporibus? Nesciunt, atque!
        </p>
      </article>
    </section>
    <section class="grid px-6 pt-12 pb-16 gap-4">
      <h2 class="text-2xl font-bold font-sans">Our Branches</h2>
      <BranchCard
        address="76 Devonshire St Surry Hills, NSW"
        phoneNumber="02 9211 1234"
        schedule={["Mon - Fri: 6:00 - 14:30", "Sat - Sun: 7:00 - 15:00"]}
      />
      <article
        class="border rounded-lg py-6 px-4 bg-tertiary border-tertiary text-neutral"
      >
        <ul class="flex flex-col gap-4">
          <li class="flex gap-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="size-6 text-neutral"
            >
              <path
                fill-rule="evenodd"
                d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
                clip-rule="evenodd"></path>
            </svg>
            <div class="flex flex-col text-sm gap-2">
              <h3 class="text-neutral font-bold font-sans uppercase">
                Address
              </h3>
              <span>12222222222</span>
            </div>
          </li>
          <li class="flex gap-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="size-6 text-neutral"
            >
              <path
                fill-rule="evenodd"
                d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z"
                clip-rule="evenodd"></path>
            </svg>
            <div class="flex flex-col text-sm gap-2">
              <h3 class="text-neutral font-bold font-sans uppercase">
                Contact
              </h3>
              <span>222222222</span>
            </div>
          </li>
          <li class="flex gap-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="size-6 text-neutral"
            >
              <path
                fill-rule="evenodd"
                d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 6a.75.75 0 0 0-1.5 0v6c0 .414.336.75.75.75h4.5a.75.75 0 0 0 0-1.5h-3.75V6Z"
                clip-rule="evenodd"></path>
            </svg>
            <div class="flex flex-col text-sm gap-2">
              <h3 class="text-neutral font-bold font-sans uppercase">
                Opening Hours
              </h3>
              <div class="flex flex-col">
                <span>Mon - Fri: 6:00 - 14:30", "Sat - Sun: 7:00 - 15:00</span>
              </div>
            </div>
          </li>
        </ul>
      </article>
      <BranchCard
        address="451 Pitt St, Haymarket Sydney, NSW"
        phoneNumber="02 9262 5678"
        schedule={["Mon - Fri: 6:00 - 14:30", "Sat - Sun: 7:00 - 15:00"]}
      />
    </section>
    <section class="px-6 py-16">
      <article class="px-4 py-6 border-2 border-tertiary rounded-lg">
        <header class="flex flex-col gap-4 pb-6">
          <h2 class="text-3xl font-bold">Get in Touch</h2>
          <p>For any inquiries, please fill out the form below:</p>
        </header>
        <ContactForm />
      </article>
    </section>
  </main>
</Layout>
