---
import ProductCard from "../components/ProductCard.astro";
import ProductSection from "../components/ProductSection.astro";
import Layout from "../layouts/Layout.astro";

import { XMLParser } from "fast-xml-parser";
import { readFile } from "node:fs/promises";
import path from "node:path";

// Read from xml
const xmlPath = path.join(process.cwd(), "public", "menu.xml");
const xmlData = await readFile(xmlPath, "utf-8");

const parser = new XMLParser({
  ignoreAttributes: false,
  attributeNamePrefix: "@_",
});
const JSONObj = parser.parse(xmlData);

console.log("Parsed JSON:", JSON.stringify(JSONObj, null, 2));
const products: Product[] = JSONObj?.menu?.product || [];

// Interfaces for TS warnings
interface PriceOption {
  label: string;
  value: string;
}

interface Product {
  name: string;
  price: string | PriceOption[];
  imageUrl: string;
  description: string;
  category?: string;
}

const getProductsByCategory = (category: string) =>
  products.filter((p) => p.category === category);

const coffeeProducts = getProductsByCategory("coffee");
const chocolateProducts = getProductsByCategory("chocolate");
const otherProducts = getProductsByCategory("other");
const mealProducts = getProductsByCategory("meal");
---

<Layout>
  <main>
    <section class="bg-neutral px-4 md:px-6 py-16 md:py-32">
      <article
        class="text-center flex flex-col gap-4 md:gap-8 px-2 md:px-4 md:max-w-5xl mx-auto"
      >
        <h1
          class="text-tertiary text-5xl md:text-7xl text-balance font-bold tracking-wide leading-tight"
        >
          Our Crafted Menu
        </h1>
        <p
          class="text-lg lg:text-xl text-balance py-2 tracking-wide leading-relaxed"
        >
          Carefully sourced, thoughtfully prepared. Every item is a reflection
          of our commitment to slow-living and artisanal quality.
        </p>
        <p
          class="text-lg lg:text-xl text-balance py-2 tracking-wide leading-relaxed"
        >
          Explore our curated collection of ethically sourced beans and
          handcrafted pastries, prepared fresh every morning in our sanctuary.
        </p>
      </article>
    </section>
    <ProductSection title="Coffee">
      {coffeeProducts.map((product) => <ProductCard {...product} />)}
      {
        coffeeProducts.length === 0 && (
          <p>There are no products available at the moment, apologies!</p>
        )
      }
    </ProductSection>
    <ProductSection title="Chocolate">
      {chocolateProducts.map((product) => <ProductCard {...product} />)}
      {
        chocolateProducts.length === 0 && (
          <p>There are no products available at the moment, apologies!</p>
        )
      }
    </ProductSection>
    <ProductSection title="Other Beverages">
      {otherProducts.map((product) => <ProductCard {...product} />)}
      {
        otherProducts.length === 0 && (
          <p>There are no products available at the moment, apologies!</p>
        )
      }
    </ProductSection>
    <ProductSection title="Meals">
      {mealProducts.map((product) => <ProductCard {...product} />)}
      {
        mealProducts.length === 0 && (
          <p>There are no products available at the moment, apologies!</p>
        )
      }
    </ProductSection>
  </main>
</Layout>
