---
const { title } = Astro.props;
---

<section
  class="px-4 md:px-6 py-16 md:max-w-5xl lg:max-w-7xl mx-auto flex flex-col gap-3 md:gap-4"
>
  <h2
    class="text-3xl font-bold border-b-2 border-b-neutral mb-3 md:mb-4 text-tertiary tracking-wider"
  >
    {title}
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-6">
    <slot />
  </div>
</section>
